backend/src/main/resources/xsd/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://backend.example.com/soap/users"
           targetNamespace="http://backend.example.com/soap/users"
           elementFormDefault="qualified">

    <xs:simpleType name="role">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VISITEURS"/>
            <xs:enumeration value="EDITEURS"/>
            <xs:enumeration value="ADMINS"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="user">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="role" type="tns:role"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="authenticateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="login" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="authenticateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="role" type="tns:role" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listUsersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jeton" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listUsersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jeton" type="xs:string"/>
                <xs:element name="nom" type="xs:string"/>
                <xs:element name="prenom" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="role" type="tns:role"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jeton" type="xs:string"/>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="nom" type="xs:string"/>
                <xs:element name="prenom" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="role" type="tns:role"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jeton" type="xs:string"/>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
